---
interface Props {
  title: string;
  createdAt: Date;
  tagline?: string;
  url: string;
  tags: string[];
}

const { title, createdAt, tagline, url, tags } = Astro.props;
---

<article>
  <h2><a href={url} set:html={title} /></h2>
  {
    createdAt.toLocaleString("en", {
      weekday: "long",
      year: "numeric",
      month: "long",
      day: "numeric",
    })
  }
  <div class="tags">
    {tags.map((tag) => <div data-tag={tag}>{tag}</div>)}
  </div>
  {tagline && <div class="tagline">{tagline}</div>}
</article>

<style>
  h2 {
    margin-block: 0rem;
  }

  h2 a::after {
    background-image: none;
    width: 0;
  }

  .tagline {
    color: gray;
  }

  .tags {
    display: block;
    margin-block-end: 8px;

    div {
      display: inline-block;
      border: 1px solid black;
      border-radius: 5px;
      padding: 0px 5px;
      font-size: 13px;
      margin-right: 5px;
    }

    [data-tag="extravaganza"] {
      background-color: gold;
    }

    [data-tag="streaming schedule"] {
      background-color: #b3d0ff;
    }

    [data-tag="bobaboard"] {
      background-color: #ffbdbd;
    }

    [data-tag="The FujoVerse™"] {
      background-color: #e9abff;
    }
  }
</style>
