---
export const prerender = false;

import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProfileCard from "../../components/ProfileCard.astro";
import PostPreview from "../../components/posts/PostPreview.astro";
import TagsFilter from "../../components/posts/TagsFilter.astro";
import { SocialLinks } from "../../components/SocialLinks";
import { fromCollection } from "../../utils/social-utils";
import OutsideBlogPosts from "../../components/OutsideBlogPosts.astro";
import { loadPosts } from "../../utils/posts-utils";
import { db } from "../../db";
import { users } from "../../db/schema";

const socials = fromCollection(await getCollection("socials"));

const posts = await loadPosts();
const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
const currentUrl = new URL(Astro.request.url);
const requestedTags = currentUrl.searchParams.getAll("tag");
const displayPosts = requestedTags.length
  ? posts.filter((post) =>
      post.data.tags.some((tag) => requestedTags.includes(tag))
    )
  : posts;
---

<Layout title="Essential Randomness — Ms Boba's Emporium of Weirdness">
  <main class="posts">
    <aside>
      <ProfileCard />
    </aside>
    <div>
      {/* <TagsFilter tags={tags} requestedTags={requestedTags} />*/}
      <h1>My writing</h1>
      <div class="intro">
        <p>
          Welcome to my blog! Take a look around, and let me know what you think
          on <a href="#socials">my socials</a>.
        </p>
        <OutsideBlogPosts />
      </div>
      <ol>
        {
          displayPosts.map(async (post) => {
            return (
              <li>
                <PostPreview
                  title={post.data.title!}
                  createdAt={post.data.created_at}
                  tagline={post.data.tagline}
                  url={`/posts/${post.slug}`}
                  tags={post.data.tags}
                />
              </li>
            );
          })
        }
      </ol>
      <div id="socials">
        ...plus dozens of rants scattered all around the internet!
        <SocialLinks links={socials} />
      </div>
    </div>
  </main>
</Layout>

<style>
  main.posts {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-gap: 10px;
    column-gap: 50px;
    grid-template-areas: "profile posts";

    aside {
      grid-area: profile;
    }
  }

  .intro {
    margin-inline: 15px;
    margin-block: 25px;
    margin-block-start: 20px;
    box-shadow: var(--box-shadow-shallow);
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      margin: 0;
    }
  }

  h1 {
    margin: 0;
    font-size: 1.8rem;
  }

  ol {
    list-style: none;
    padding-inline: 0;
    display: flex;
    flex-direction: column;

    li::after {
      content: "─── ⋆⋅☆⋅⋆ ───";
      display: block;
      text-align: center;
      margin-block-start: 20px;
      margin-block-end: 15px;
    }
  }

  :global(.social-links) {
    margin-top: 20px;
  }

  @media (max-width: 650px) {
    main.posts {
      display: flex;
      flex-direction: column;
    }
  }
</style>
 ../../db../../db/schema
