---
import Nav from "../components/Nav.astro";
import "./global.css";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Ms Boba's experimental website. Open for business while construction is ongoing.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="head" />
    <link rel="stylesheet" href="https://use.typekit.net/wkx0aeo.css" />
    <meta charset="UTF-8" />
    <meta property="og:site_name" content="Essential Randomness" />
    <meta property="og:title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/og-image.png" />
    <meta name="twitter:image" content="/og-image.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:site" content="@EssentialRandom" />
    <meta property="twitter:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-32x32.png"
      sizes="32x32"
    />
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>
